.link, a, mark {
    color: #5bbc2e
}

.btn, img, input, select {
    vertical-align: middle
}

.btn, .control {
    text-align: center;
    white-space: nowrap
}

.benefit, a, button {
    cursor: pointer
}

#register .h1, .banner__callout, .btn {
    text-transform: uppercase
}

.-grid, .benefits-slider__content, .jobpartners {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal
}

.page, body {
    overflow-x: hidden
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

h1, h2, h3, h4, h5, h6, p {
    font-size: 1em;
    font-weight: 400
}

li, ul {
    list-style: none
}

hr {
    display: block;
    border: none;
    height: 1px;
    background: #eee
}

button, input, select, textarea {
    background: 0 0;
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: Arial, sans-serif;
    font-family: inherit
}

table {
    border-collapse: collapse
}

table td, table th {
    border: 1px solid #ddd
}

img {
    max-width: 100%;
    height: auto
}

::-webkit-input-placeholder {
    opacity: .5
}

::-moz-placeholder {
    opacity: .5
}

:-ms-input-placeholder {
    opacity: .5
}

:-moz-placeholder {
    opacity: .5
}

:focus {
    outline: 0
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3137;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5
}

.h0, .h1, .h2, .h3 {
    line-height: 1.4;
    font-weight: 500
}

.-frame {
    max-width: 1220px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto
}

.-grid {
    margin: -10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.-grid .-cell {
    padding: 15px;
    display: block
}

.-grid--twin .-cell {
    width: 50%
}

.-grid--fifth .-cell {
    width: 20%
}

.-grid--third .-cell {
    width: 33.333%
}

.arrow {
    margin-top: 15px;
    position: relative;
    width: 15%;
    height: 2px;
    background: #5bbc2e;
    -webkit-transition: width .2s ease-out;
    -o-transition: width .2s ease-out;
    transition: width .2s ease-out
}

.link, a, input.input, select.input {
    -webkit-transition: all .2s ease-out
}

.arrow:after {
    content: '';
    display: block;
    position: absolute;
    right: -8px;
    top: -3px;
    border: 4px solid #5bbc2e;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent
}

.h0 {
    font-size: 38px
}

.h1 {
    font-size: 36px
}

.h2 {
    font-size: 22px
}

.h3 {
    font-size: 18px
}

.p {
    font-size: 20px
}

.sp {
    font-size: 14px
}

@media screen and (max-width: 1024px) {
    .h0 {
        font-size: 28px
    }

    .h1 {
        font-size: 20px
    }

    .h2 {
        font-size: 18px
    }

    .h3 {
        font-size: 16px
    }

    .p {
        font-size: 14px
    }

    .sp {
        font-size: 12px
    }
}

@media screen and (max-width: 768px) {
    .h0, .h1 {
        font-size: 18px
    }

    .h2 {
        font-size: 16px
    }

    .h3, .p {
        font-size: 14px
    }

    .sp {
        font-size: 10px
    }
}

.link, a {
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    text-decoration: none
}

.link:hover, a:hover {
    text-decoration: underline
}

.certificate a:hover, .header__auth:hover, .nav__item {
    text-decoration: none
}

.-center {
    text-align: center
}

mark {
    background: 0 0
}

.btn {
    display: inline-block;
    line-height: 58px;
    background: #00bff3;
    border-radius: 10px;
    padding: 2px 48px 0;
    color: #fff;
    border: none;
    font-size: 16px;
    -webkit-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out
}

.btn--sm {
    line-height: 38px;
    padding: 2px 15px 0;
    font-size: 14px
}

.btn:hover {
    background: #5bbc2e
}

@media screen and (max-width: 1024px) {
    .btn {
        line-height: 46px;
        padding: 2px 24px 0;
        border-radius: 5px
    }

    .btn--sm {
        line-height: 30px;
        font-size: 12px
    }
}

input.input, select.input {
    height: 60px;
    border: 2px solid transparent;
    border-radius: 10px;
    line-height: 58px;
    padding: 2px 30px 0;
    font-size: 16px;
    background: #fff;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

input.input:focus, select.input:focus {
    border-color: #5bbc2e
}

@media screen and (max-width: 1024px) {
    input.input, select.input {
        border-radius: 5px;
        height: 40px;
        padding: 2px 20px 0
    }
}

.control {
    font-size: 16px
}

.control__next, .control__prev {
    line-height: 1.5em;
    border: 2px solid #aab2bc;
    border-radius: 10px;
    padding: 0 1.25em;
    font-size: 1em;
    margin: 0 .3125em;
    color: #aab2bc;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.control__next:before, .control__prev:before {
    font-size: 1.5em
}

.control__next:hover, .control__prev:hover {
    color: #fff;
    background: #00bff3;
    border-color: #00bff3
}

.control__prev:before {
    content: '\2190'
}

.control__next:before {
    content: "\2192"
}

.nav {
    display: block
}

.nav__item {
    display: inline-block;
    font-size: 14px;
    color: inherit;
    padding: 10px;
    position: relative;
    line-height: 20px;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.nav__item:before {
    content: "";
    height: 4px;
    width: 50%;
    left: 25%;
    top: -30px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    background: #5bbc2e;
    opacity: 0;
    -webkit-transition: top .2s ease-out;
    -o-transition: top .2s ease-out;
    transition: top .2s ease-out
}

.certificate__img, .sidenav {
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out
}

[data-mini=true] .nav__item:before {
    top: -20px
}

.nav__item:hover, .nav__item[data-active=true] {
    color: #5bbc2e
}

.nav__item[data-active=true]:before {
    opacity: 1
}

@media screen and (max-width: 1200px) {
    .nav__item {
        font-size: 14px
    }
}

.header {
    background: #fff;
    padding: 10px 0
}

.header:after, .header:before {
    content: '';
    display: block;
    clear: both
}

.header__logo {
    display: block;
    padding: 13px 0;
    height: 80px;
    float: left
}

.header__logo img {
    height: 100%;
    width: auto
}

.header__auth, .header__menu-btn, .header__nav, .header__search {
    float: right;
    margin: 20px 0 20px 20px
}

.header__menu-btn, .header__search {
    height: 40px;
    line-height: 40px;
    width: 40px;
    border: none;
    background: url(../images/icons/search.png) center center no-repeat;
    background-size: auto auto
}

.header__menu-btn {
    background-image: url(../images/icons/menu.svg);
    background-size: 24px auto;
    display: none
}

.header[data-mini=true] {
    padding: 0
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 0
    }

    .header__logo {
        padding: 16px 0;
        height: 60px
    }

    .header__auth, .header__menu-btn, .header__nav, .header__search {
        margin: 10px 0 10px 10px
    }

    .header__auth {
        margin-top: 14px
    }

    .header__auth, .header__nav, .header__search {
        display: none
    }

    .header__menu-btn {
        display: block
    }
}

.sidenav {
    background: #fff;
    text-align: right;
    transition: all .2s ease-out;
    padding: 40px 20px 40px 40px
}

#register, .banner, .jobpartners li, .xter__info, .xter__quote, .xtersslider__nav {
    text-align: center
}

.sidenav__item {
    font-size: 16px;
    margin-bottom: 1em;
    display: block;
    line-height: 1.2
}

.banner__inner {
    position: relative;
    padding: 33px 0 0
}

.banner__inner > * {
    position: relative;
    z-index: 2
}

.banner__inner > img {
    width: 100%;
    height: auto;
    z-index: 1
}

.banner__lazyimg {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    z-index: 0 !important;
    opacity: .7
}

.banner__img {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s
}

.banner__img[data-loaded=true] {
    opacity: 1;
    visibility: visible;
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0)
}

.banner__callout {
    margin: 0 20px 20px;
    color: #0d54a1;
    font-weight: 500
}

@media screen and (max-width: 1024px) {
    .banner__inner {
        padding-top: 40px
    }
}

.benefit {
    position: relative;
    padding-top: 220px
}

.benefit img {
    position: absolute;
    top: 10px;
    left: 0;
    width: auto;
    height: auto
}

.benefit__img {
    width: 160px !important
}

.benefit__decor {
    left: auto !important;
    top: 30px !important;
    right: 10px
}

.benefit .p {
    color: #656c75
}

.benefit .h2 {
    margin-bottom: 1em;
    height: 2.6em;
    -webkit-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out
}

.benefit__arrow {
    margin-top: 15px;
    position: relative;
    width: 15%;
    height: 2px;
    background: #5bbc2e;
    -webkit-transition: width .2s ease-out;
    -o-transition: width .2s ease-out;
    transition: width .2s ease-out
}

.benefit__arrow:after {
    content: '';
    display: block;
    position: absolute;
    right: -8px;
    top: -3px;
    border: 4px solid #5bbc2e;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent
}

.benefit:hover .benefit__arrow {
    width: 60%
}

.benefit:hover .h2 {
    color: #5bbc2e
}

@media screen and (max-width: 1024px) {
    .benefit {
        padding-top: 160px
    }

    .benefit__img {
        width: 120px !important
    }

    .benefit__decor {
        display: none
    }
}

@media screen and (max-width: 768px) {
    .benefit {
        padding-top: 100px
    }

    .benefit__img {
        width: 80px !important
    }

    .benefit .h2 {
        height: auto
    }

    .benefits-slider__content .-cell {
        width: 50%
    }
}

.benefits-slider {
    position: relative;
    overflow: hidden
}

.benefits-slider__control {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 30px;
    z-index: 2
}

.benefits-slider__content {
    -webkit-transition: -webkit-transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.benefits-slider__content .-cell {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

@media screen and (max-width: 1024px) {
    .benefits-slider {
        padding-top: 50px
    }

    .benefits-slider__control {
        font-size: 12px
    }
}

@media screen and (max-width: 520px) {
    .benefits-slider__content .-cell {
        width: 100%
    }
}

.certificate {
    position: relative;
    background: #fff;
    border-radius: 10px;
    margin-top: 35px
}

.certificate:hover .certificate__img {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    box-shadow: 0 0 20px rgba(0, 0, 0, .4)
}

.certificate__img {
    width: 92%;
    display: block;
    border-radius: 10px 10px 10px 0;
    position: relative;
    top: -35px;
    z-index: 1;
    transition: all .2s ease-out
}

.xmentor:after, .xmentor:before {
    content: "";
    z-index: 0;
    display: block
}

.certificate__info {
    display: block;
    margin-top: -10px;
    padding: 0 10px 20px 40px
}

.certificate__info .sp {
    color: #aab2bc;
    margin-bottom: .5em
}

.certificate__info .h2, .certificate__info .h3 {
    height: 2.6em;
    overflow: hidden
}

.certificate a {
    color: inherit
}

.certificate:hover a {
    color: #5bbc2e
}

.certificate--advanced {
    padding-right: 10px;
    background: 0 0
}

.certificate--advanced .certificate__info {
    margin-top: -15px;
    padding: 0
}

.certificate--advanced .certificate__img {
    width: 100%;
    border-radius: 10px
}

@media screen and (max-width: 1024px) {
    .certificate__info {
        padding: 0 10px 20px 20px;
        margin-top: -20px
    }
}

@media screen and (max-width: 768px) {
    .certificate__info {
        padding: 0 0 20px 10px;
        margin-top: -20px
    }

    .certificate .h2 {
        font-size: 13px
    }

    .certificate .h2, .certificate .h3 {
        height: auto
    }
}

.xmentor {
    border-top: 40px solid transparent;
    border-right: 20px solid transparent;
    position: relative
}

.xmentor:before {
    border-radius: 10px;
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.xmentor:after {
    clear: both
}

.xmentor__img {
    display: block;
    float: left;
    border-radius: 10px 10px 10px 0;
    width: 260px;
    max-width: 50%;
    position: relative;
    top: -40px;
    z-index: 1
}

.xmentor__info {
    height: 100%;
    position: relative;
    z-index: 1;
    padding: 35px 50px;
    margin-left: 50%
}

.xmentor__info .sp {
    margin-bottom: 1.5em;
    color: #aab2bc;
    font-weight: 500
}

.xmentor__info .h2 {
    margin-bottom: 20px;
    height: 2.6em;
    overflow: hidden
}

.xmentor__info .h3 {
    color: #656c75;
    margin-bottom: 15px;
    height: 3.9em;
    overflow: hidden
}

.xmentor__arrow {
    float: right;
    clear: both;
    margin-top: -40px
}

@media screen and (max-width: 1024px) {
    .xmentor {
        border-right: none
    }

    .xmentor__img {
        max-width: 40%
    }

    .xmentor__info {
        padding: 20px 5px;
        margin-left: 40%
    }

    .xmentor__arrow {
        margin-top: 10px
    }
}

@media screen and (max-width: 768px) {
    .xmentor__img {
        margin-right: 10px
    }

    .xmentor__info {
        padding: 20px;
        margin-left: 10px
    }

    .xmentor__info .h3 {
        clear: both
    }
}

.section {
    padding: 80px 0;
    background: #f1f2f2
}

#funixway, #xters {
    background: #fff
}

.section__header {
    margin-bottom: 35px
}

.section__header .h1, .section__header .h2 {
    margin-bottom: .4em
}

.section__header .p {
    color: #656c75
}

.section__header a:after {
    content: '\25b6';
    font-size: .75em;
    vertical-align: .2em;
    margin-left: .5em
}

.section__body {
    margin-bottom: 40px
}

.-grid .section__left {
    width: 50%;
    padding-right: 30px
}

.-grid .section__right {
    width: 50%;
    padding-left: 30px
}

@media screen and (max-width: 1024px) {
    .section {
        padding: 40px 0
    }

    .section__body, .section__header {
        margin-bottom: 15px
    }
}

@media screen and (max-width: 768px) {
    .-grid .section__left, .-grid .section__right {
        width: 100%;
        padding-left: 10px
    }

    #syllabus .-grid--third .-cell {
        width: 50%
    }
}

@media screen and (max-width: 400px) {
    #syllabus .-grid--third .-cell {
        width: 75%
    }
}

@media screen and (max-width: 768px) {
    #syllabus .-grid--fifth .-cell {
        width: 33.33%
    }
}

@media screen and (max-width: 640px) {
    #syllabus .-grid--fifth .-cell {
        width: 50%
    }
}

#register {
    background: 0 0;
    overflow: hidden;
    position: relative;
    padding: 50px 0 50px
}

#register .h1 {
    color: #fff
}

#register .input {
    display: block;
    width: 460px;
    max-width: 100%;
    margin: auto auto 20px
}

#register .btn {
    margin-top: 40px
}

#register:before {
    content: '';
    display: block;
    position: absolute;
    top: -5%;
    left: -5%;
    height: 110%;
    width: 110%;
    background: url(../images/form-bg.jpg) center center no-repeat;
    background-size: cover;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    z-index: -1
}

@media screen and (max-width: 500px) {
    #mentors .-grid--twin .-cell {
        width: 80%
    }
}

#contact {
    background: #00bff3;
    color: #fff
}

#contact img {
    float: left;
    width: 89px
}

#contact .-frame > div {
    margin-left: 120px
}

#contact p a {
    font-size: 1.5em;
    color: inherit;
    font-weight: inherit
}

@media screen and (max-width: 768px) {
    #register {
        padding: 60px 0
    }

    #register .input {
        margin-bottom: 15px
    }

    #register .btn {
        margin-top: 20px
    }

    #contact img {
        width: 60px
    }

    #contact .-frame > div {
        margin-left: 80px
    }
}

.xter__quote {
    margin-bottom: 40px
}

.xter__info .sp {
    margin-top: 20px
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 4px, 0);
        transform: translate3d(0, 4px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 4px, 0);
        transform: translate3d(0, 4px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.xtersslider__nav {
    font-size: 0;
    margin-bottom: 30px
}

.xtersslider__nav-item {
    border: none;
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 10px 5px;
    vertical-align: top;
    opacity: .5;
    -webkit-transform: scale(.6, .6);
    -ms-transform: scale(.6, .6);
    transform: scale(.6, .6);
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.xtersslider__nav-item[data-show=true] {
    opacity: 1;
    margin: 10px 20px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
}

.xtersslider__xters {
    margin-bottom: 40px
}

.xtersslider__xter {
    display: none
}

.xtersslider__xter[data-show=true] {
    display: block;
    -webkit-animation: fadeInUp 1s ease-out;
    animation: fadeInUp 1s ease-out
}

@media screen and (max-width: 768px) {
    .xtersslider__nav-item {
        height: 60px;
        width: 60px
    }
}

.jobpartners {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.jobpartners li {
    width: calc(50% - 20px);
    margin: 10px;
    padding: 20px 0;
    background: #fff;
    border-radius: 5px
}

.jobpartners li img {
    vertical-align: top;
    display: inline-block;
    height: auto;
    width: auto
}

.footer {
    padding-top: 100px;
    background: #212428;
    color: #fff;
    font-size: 16px
}

.footer__social {
    width: 10%
}

.footer__social li {
    display: block;
    margin-bottom: 10px
}

.footer__social li img {
    height: 32px;
    width: auto
}

.footer__social li a {
    opacity: .4
}

.footer__social li a:hover {
    opacity: 1
}

.footer__fb-page {
    width: 30%;
    padding: 10px 40px !important;
    text-align: right
}

.footer__fb-page iframe, .footer__fb-page img {
    max-width: 100%
}

.footer__nav {
    margin-top: -5px;
    width: 20%
}

.footer__nav .h2 {
    margin-bottom: .75em
}

.footer__nav ul li {
    margin-bottom: .5em
}

.footer__nav ul a {
    color: #656c75
}

.footer__info {
    margin-top: -5px;
    width: 40%
}

.footer__info p {
    margin: 1em 0;
    color: #656c75
}

.footer__contact {
    color: #aab2bc;
    padding-left: 30px
}

.footer__contact li {
    margin-bottom: .5em
}

.footer__contact img {
    margin-left: -30px;
    float: left;
    margin-top: 5px
}

.footer__contact a {
    color: #aab2bc;
    display: block
}

.footer__contact a:hover {
    color: #5bbc2e
}

.footer__copy {
    margin-top: 100px;
    background: #1f2226;
    font-size: 14px;
    padding: 30px 0;
    text-align: center
}

.footer__backtobase {
    margin-top: 10px;
    background: #1d1f22;
    color: #3d434b;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 50px;
    font-size: 24px
}

.footer__backtobase:hover {
    background: #5bbc2e;
    text-decoration: none;
    color: #fff
}

@media screen and (max-width: 1024px) {
    .footer {
        padding-top: 30px
    }

    .footer__fb-page {
        width: 50%;
        height: 40px
    }

    .footer__social {
        width: 50%
    }

    .footer__social li {
        display: inline-block
    }

    .footer__info, .footer__nav {
        width: 100%
    }
}

@media screen and (max-width: 768px) {
    .footer__fb-page {
        padding: 10px !important
    }

    .footer__copy {
        padding: 15px 0 10px;
        font-size: 12px
    }
}

.page {
    padding-top: 100px;
    width: 100%
}

.page .header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: padding .2s ease-out;
    -o-transition: padding .2s ease-out;
    transition: padding .2s ease-out;
    -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 50px rgba(0, 0, 0, .1)
}

.page .sidenav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    bottom: 0;
    z-index: 9999;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}

.page .sidenav[data-show=true] {
    -webkit-box-shadow: -10px 0 30px rgba(0, 0, 0, .2);
    box-shadow: -10px 0 30px rgba(0, 0, 0, .2);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

iframe {
    margin-left: 0 !important;
}

.bg {
    display: block !important;
}

.bg-mobile {
    display: none !important;
}

.benefits-desktop {
    display: block !important;
}

.benefits-mobile {
    display: none !important;
}

.mentors-desktop {
    display: block !important;
}

.mentors-mobile {
    display: none !important;
}

.fb-desktop {
    display: block !important;
}

.fb-mobile {
    display: none !important;
}

.fb-comments iframe {
    margin-left: 0;
}

.fwayvid-desktop {
    margin-left: 0;
    width: 100%;
    display: inline-block !important;
}

.fwayvid-mobile {
    margin-left: 0;
    width: 100%;
    display: none !important;
}

@media only screen and (max-device-width: 480px) {
    .bg {
        display: none !important;
    }

    .bg-mobile {
        display: block !important;
    }

    .header__logo {
        display: block;
        padding: 13px 0;
        height: 80px;
        float: right;
        margin-top: 10px
    }

    .header__nav, .header__auth, .header__search, .header__menu-btn {
        float: left;
        margin: 30px 0;
        margin-left: 20px;
    }

    .header__reg {
        display: inline-block !important;
    }

    .banner__cta {
        margin-top: 10px;
    }

    .benefits-desktop {
        display: none !important;
    }

    .benefits-mobile {
        display: block !important;
        padding-top: 0;
    }

    .mentors-desktop {
        display: none !important;
    }

    .mentors-mobile {
        display: block !important;
    }

    .fb-desktop {
        display: none !important;
    }

    .fb-mobile {
        display: block !important;
    }

    .fwayvid-desktop {
        margin-left: 0;
        width: 100%;
        display: none !important;
    }

    .fwayvid-mobile {
        margin-left: 0;
        width: 100%;
        display: inline-block !important;
    }

    .mentorss__list {
        flex-flow: column;
    }

    #fb-frame-mobile {
        margin-left: 0;
        width: 100%;
    }
}



.emphasized-anchor-link {
    text-decoration: underline !important;
}

.emphasized-anchor-link:after {
    content: none !important;
}