body {
    margin: 0
}
audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    tr, img {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    .navbar {
        display: none
    }

    .btn > .caret, .dropup > .btn > .caret {
        border-top-color: #000 !important
    }

    .label {
        border: 1px solid #000
    }

    .table {
        border-collapse: collapse !important
    }

    .table td, .table th {
        background-color: #fff !important
    }

    .table-bordered th, .table-bordered td {
        border: 1px solid #ddd !important
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

figure {
    margin: 0
}

img {
    vertical-align: middle
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

.img-rounded {
    border-radius: 6px
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto
}

.img-circle {
    border-radius: 50%
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

[role="button"] {
    cursor: pointer
}

.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4
}

@media (min-width: 768px) {
    .lead {
        font-size: 21px
    }
}

small, .small {
    font-size: 85%
}

mark, .mark {
    background-color: #fcf8e3;
    padding: .2em
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.text-justify {
    text-align: justify
}

.text-nowrap {
    white-space: nowrap
}

.text-lowercase {
    text-transform: lowercase
}

.text-uppercase {
    text-transform: uppercase
}

.text-capitalize {
    text-transform: capitalize
}

.text-muted {
    color: #777
}

.text-primary {
    color: #337ab7
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee
}

ul, ol {
    margin-top: 0;
    /*margin-bottom: 10px*/
}

ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0
}

.list-unstyled {
    padding-left: 0;
    list-style: none
}

.list-inline {
    padding-left: 0;
    list-style: none; > li {
                          display: inline-block;
                          padding-left: 5px;
                          padding-right: 5px
                      }
margin-left: -5px
}

.list-inline

dl {
    margin-top: 0;
    margin-bottom: 20px
}

dt, dd {
    line-height: 1.42857143
}

dt {
    font-weight: bold
}

dd {
    margin-left: 0
}

@media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .dl-horizontal dd {
        margin-left: 180px
    }
}

abbr[title], abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #777
}

.initialism {
    font-size: 90%;
    text-transform: uppercase
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee
}

blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child {
    margin-bottom: 0
}

blockquote footer, blockquote small, blockquote .small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777
}

blockquote footer:before, blockquote small:before, blockquote .small:before {
    content: '\2014 \00A0'
}

.blockquote-reverse, blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eee;
    border-left: 0;
    text-align: right
}

.blockquote-reverse footer:before, blockquote.pull-right footer:before, .blockquote-reverse small:before, blockquote.pull-right small:before, .blockquote-reverse .small:before, blockquote.pull-right .small:before {
    content: ''
}

.blockquote-reverse footer:after, blockquote.pull-right footer:after, .blockquote-reverse small:after, blockquote.pull-right small:after, .blockquote-reverse .small:after, blockquote.pull-right .small:after {
    content: '\00A0 \2014'
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143
}

code, kbd, pre, samp {
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px
}

kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25)
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
    box-shadow: none
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

.container-fluid {
    padding-top: 104px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left
}

.col-xs-12 {
    width: 100%
}

.col-xs-11 {
    width: 91.66666667%
}

.col-xs-10 {
    width: 83.33333333%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666667%
}

.col-xs-7 {
    width: 58.33333333%
}

.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666667%
}

.col-xs-4 {
    width: 33.33333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.66666667%
}

.col-xs-1 {
    width: 8.33333333%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-pull-11 {
    right: 91.66666667%
}

.col-xs-pull-10 {
    right: 83.33333333%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-8 {
    right: 66.66666667%
}

.col-xs-pull-7 {
    right: 58.33333333%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-5 {
    right: 41.66666667%
}

.col-xs-pull-4 {
    right: 33.33333333%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-2 {
    right: 16.66666667%
}

.col-xs-pull-1 {
    right: 8.33333333%
}

.col-xs-pull-0 {
    right: auto
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-push-11 {
    left: 91.66666667%
}

.col-xs-push-10 {
    left: 83.33333333%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-8 {
    left: 66.66666667%
}

.col-xs-push-7 {
    left: 58.33333333%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-5 {
    left: 41.66666667%
}

.col-xs-push-4 {
    left: 33.33333333%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-2 {
    left: 16.66666667%
}

.col-xs-push-1 {
    left: 8.33333333%
}

.col-xs-push-0 {
    left: auto
}

.col-xs-offset-12 {
    margin-left: 100%
}

.col-xs-offset-11 {
    margin-left: 91.66666667%
}

.col-xs-offset-10 {
    margin-left: 83.33333333%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-8 {
    margin-left: 66.66666667%
}

.col-xs-offset-7 {
    margin-left: 58.33333333%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-5 {
    margin-left: 41.66666667%
}

.col-xs-offset-4 {
    margin-left: 33.33333333%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-2 {
    margin-left: 16.66666667%
}

.col-xs-offset-1 {
    margin-left: 8.33333333%
}

.col-xs-offset-0 {
    margin-left: 0
}

@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.66666667%
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.66666667%
    }

    .col-sm-7 {
        width: 58.33333333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.66666667%
    }

    .col-sm-4 {
        width: 33.33333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.66666667%
    }

    .col-sm-1 {
        width: 8.33333333%
    }

    .col-sm-pull-12 {
        right: 100%
    }

    .col-sm-pull-11 {
        right: 91.66666667%
    }

    .col-sm-pull-10 {
        right: 83.33333333%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-8 {
        right: 66.66666667%
    }

    .col-sm-pull-7 {
        right: 58.33333333%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-5 {
        right: 41.66666667%
    }

    .col-sm-pull-4 {
        right: 33.33333333%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-2 {
        right: 16.66666667%
    }

    .col-sm-pull-1 {
        right: 8.33333333%
    }

    .col-sm-pull-0 {
        right: auto
    }

    .col-sm-push-12 {
        left: 100%
    }

    .col-sm-push-11 {
        left: 91.66666667%
    }

    .col-sm-push-10 {
        left: 83.33333333%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-8 {
        left: 66.66666667%
    }

    .col-sm-push-7 {
        left: 58.33333333%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-5 {
        left: 41.66666667%
    }

    .col-sm-push-4 {
        left: 33.33333333%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-2 {
        left: 16.66666667%
    }

    .col-sm-push-1 {
        left: 8.33333333%
    }

    .col-sm-push-0 {
        left: auto
    }

    .col-sm-offset-12 {
        margin-left: 100%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666667%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-1 {
        width: 8.33333333%
    }

    .col-md-pull-12 {
        right: 100%
    }

    .col-md-pull-11 {
        right: 91.66666667%
    }

    .col-md-pull-10 {
        right: 83.33333333%
    }

    .col-md-pull-9 {
        right: 75%
    }

    .col-md-pull-8 {
        right: 66.66666667%
    }

    .col-md-pull-7 {
        right: 58.33333333%
    }

    .col-md-pull-6 {
        right: 50%
    }

    .col-md-pull-5 {
        right: 41.66666667%
    }

    .col-md-pull-4 {
        right: 33.33333333%
    }

    .col-md-pull-3 {
        right: 25%
    }

    .col-md-pull-2 {
        right: 16.66666667%
    }

    .col-md-pull-1 {
        right: 8.33333333%
    }

    .col-md-pull-0 {
        right: auto
    }

    .col-md-push-12 {
        left: 100%
    }

    .col-md-push-11 {
        left: 91.66666667%
    }

    .col-md-push-10 {
        left: 83.33333333%
    }

    .col-md-push-9 {
        left: 75%
    }

    .col-md-push-8 {
        left: 66.66666667%
    }

    .col-md-push-7 {
        left: 58.33333333%
    }

    .col-md-push-6 {
        left: 50%
    }

    .col-md-push-5 {
        left: 41.66666667%
    }

    .col-md-push-4 {
        left: 33.33333333%
    }

    .col-md-push-3 {
        left: 25%
    }

    .col-md-push-2 {
        left: 16.66666667%
    }

    .col-md-push-1 {
        left: 8.33333333%
    }

    .col-md-push-0 {
        left: auto
    }

    .col-md-offset-12 {
        margin-left: 100%
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%
    }

    .col-md-offset-0 {
        margin-left: 0
    }
}

@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left
    }

    .col-lg-12 {
        width: 100%
    }

    .col-lg-11 {
        width: 91.66666667%
    }

    .col-lg-10 {
        width: 83.33333333%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-8 {
        width: 66.66666667%
    }

    .col-lg-7 {
        width: 58.33333333%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-5 {
        width: 41.66666667%
    }

    .col-lg-4 {
        width: 33.33333333%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-2 {
        width: 16.66666667%
    }

    .col-lg-1 {
        width: 8.33333333%
    }

    .col-lg-pull-12 {
        right: 100%
    }

    .col-lg-pull-11 {
        right: 91.66666667%
    }

    .col-lg-pull-10 {
        right: 83.33333333%
    }

    .col-lg-pull-9 {
        right: 75%
    }

    .col-lg-pull-8 {
        right: 66.66666667%
    }

    .col-lg-pull-7 {
        right: 58.33333333%
    }

    .col-lg-pull-6 {
        right: 50%
    }

    .col-lg-pull-5 {
        right: 41.66666667%
    }

    .col-lg-pull-4 {
        right: 33.33333333%
    }

    .col-lg-pull-3 {
        right: 25%
    }

    .col-lg-pull-2 {
        right: 16.66666667%
    }

    .col-lg-pull-1 {
        right: 8.33333333%
    }

    .col-lg-pull-0 {
        right: auto
    }

    .col-lg-push-12 {
        left: 100%
    }

    .col-lg-push-11 {
        left: 91.66666667%
    }

    .col-lg-push-10 {
        left: 83.33333333%
    }

    .col-lg-push-9 {
        left: 75%
    }

    .col-lg-push-8 {
        left: 66.66666667%
    }

    .col-lg-push-7 {
        left: 58.33333333%
    }

    .col-lg-push-6 {
        left: 50%
    }

    .col-lg-push-5 {
        left: 41.66666667%
    }

    .col-lg-push-4 {
        left: 33.33333333%
    }

    .col-lg-push-3 {
        left: 25%
    }

    .col-lg-push-2 {
        left: 16.66666667%
    }

    .col-lg-push-1 {
        left: 8.33333333%
    }

    .col-lg-push-0 {
        left: auto
    }

    .col-lg-offset-12 {
        margin-left: 100%
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%
    }

    .col-lg-offset-9 {
        margin-left: 75%
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%
    }

    .col-lg-offset-6 {
        margin-left: 50%
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%
    }

    .col-lg-offset-3 {
        margin-left: 25%
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%
    }

    .col-lg-offset-1 {
        margin-left: 18.33333333%
    }

    .col-lg-offset-0 {
        margin-left: 0
    }
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold
}

input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal
}

input[type="file"] {
    display: block
}

input[type="range"] {
    display: block;
    width: 100%
}

select[multiple], select[size] {
    height: auto
}

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

output {
    display: block;
    padding-top: 7px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

@media (min-width: 768px) {
    .form-horizontal .form-group-lg .control-label {
        padding-top: 14.333333px;
        font-size: 18px
    }
}

@media (min-width: 768px) {
    .form-horizontal .form-group-sm .control-label {
        padding-top: 6px;
        font-size: 12px
    }
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.fade.in {
    opacity: 1
}

.collapse {
    display: none
}

.collapse.in {
    display: block
}

tr.collapse.in {
    display: table-row
}

tbody.collapse.in {
    display: table-row-group
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table
}

.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .modal-footer:after {
    clear: both
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.pull-right {
    float: right !important
}

.pull-left {
    float: left !important
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.invisible {
    visibility: hidden
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.hidden {
    display: none !important
}

.affix {
    position: fixed
}

@-ms-viewport {
    width: device-width
}

.visible-xs, .visible-sm, .visible-md, .visible-lg {
    display: none !important
}

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
    display: none !important
}

@media (max-width: 767px) {
    .visible-xs {
        display: block !important
    }

    table.visible-xs {
        display: table !important
    }

    tr.visible-xs {
        display: table-row !important
    }

    th.visible-xs, td.visible-xs {
        display: table-cell !important
    }
}

@media (max-width: 767px) {
    .visible-xs-block {
        display: block !important
    }
}

@media (max-width: 767px) {
    .visible-xs-inline {
        display: inline !important
    }
}

@media (max-width: 767px) {
    .visible-xs-inline-block {
        display: inline-block !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important
    }

    table.visible-sm {
        display: table !important
    }

    tr.visible-sm {
        display: table-row !important
    }

    th.visible-sm, td.visible-sm {
        display: table-cell !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-block {
        display: block !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline {
        display: inline !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline-block {
        display: inline-block !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important
    }

    table.visible-md {
        display: table !important
    }

    tr.visible-md {
        display: table-row !important
    }

    th.visible-md, td.visible-md {
        display: table-cell !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-block {
        display: block !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline {
        display: inline !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline-block {
        display: inline-block !important
    }
}

@media (min-width: 1200px) {
    .visible-lg {
        display: block !important
    }

    table.visible-lg {
        display: table !important
    }

    tr.visible-lg {
        display: table-row !important
    }

    th.visible-lg, td.visible-lg {
        display: table-cell !important
    }
}

@media (min-width: 1200px) {
    .visible-lg-block {
        display: block !important
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline {
        display: inline !important
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline-block {
        display: inline-block !important
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important
    }
}

.visible-print {
    display: none !important
}

@media print {
    .visible-print {
        display: block !important
    }

    table.visible-print {
        display: table !important
    }

    tr.visible-print {
        display: table-row !important
    }

    th.visible-print, td.visible-print {
        display: table-cell !important
    }
}

.visible-print-block {
    display: none !important
}

@media print {
    .visible-print-block {
        display: block !important
    }
}

.visible-print-inline {
    display: none !important
}

@media print {
    .visible-print-inline {
        display: inline !important
    }
}

.visible-print-inline-block {
    display: none !important
}

@media print {
    .visible-print-inline-block {
        display: inline-block !important
    }
}

@media print {
    .hidden-print {
        display: none !important
    }
}

/*!
 * Bootstrap-select v1.10.0 (http://silviomoreto.github.io/bootstrap-select)
 *
 * Copyright 2013-2016 bootstrap-select
 * Licensed under MIT (https://github.com/silviomoreto/bootstrap-select/blob/master/LICENSE)
 */
.bootstrap-select {
    position: relative
}

.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px
}

.form-inline .multiselect-container li a label.checkbox input[type="checkbox"], .form-inline .multiselect-container li a label.radio input[type="radio"] {
    margin-left: -20px;
    margin-right: 0
}

.box-shadow {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
}

.visually-hidden {
    border: 0 !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    overflow: hidden;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}

.focus-outline {
    outline: 2px solid #000;
    outline-offset: 2px;
    z-index: 1050
}

.bg-color-white {
    background: #fff;
    border-color: #d1dfd6 !important
}

.bg-color-brand-red {
    background: #900;
    border-color: rgba(255, 255, 255, 0.3) !important;
    color: #fff
}

.bg-color-brand-red a:not([class*='btn']), .bg-color-brand-red a.btn-text, .bg-color-brand-red a:not([class*='btn']):hover, .bg-color-brand-red a.btn-text:hover {
    color: #fff
}

.bg-color-brand-coolgray {
    background: #666;
    border-color: rgba(255, 255, 255, 0.3) !important;
    color: #fff
}

.bg-color-brand-coolgray a:not([class*='btn']), .bg-color-brand-coolgray a.btn-text, .bg-color-brand-coolgray a:not([class*='btn']):hover, .bg-color-brand-coolgray a.btn-text:hover {
    color: #fff
}

.bg-color-brand-gray {
    background: #cbc3b7;
    border-color: rgba(255, 255, 255, 0.3) !important
}

.bg-color-brand-gray a.btn-text {
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-gray a.btn-text:hover {
    color: #000;
    text-decoration: none
}

.bg-color-brand-gray a:not([class*='btn']) {
    border-bottom: 1px solid #405e71;
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-gray a:not([class*='btn']):hover {
    border-bottom: 3px solid #000;
    color: #000
}

.bg-color-brand-orange {
    background: #f60;
    border-color: rgba(255, 255, 255, 0.3) !important
}

.bg-color-brand-orange a.btn-text {
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-orange a.btn-text:hover {
    color: #000;
    text-decoration: none
}

.bg-color-brand-orange a:not([class*='btn']) {
    border-bottom: 1px solid #405e71;
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-orange a:not([class*='btn']):hover {
    border-bottom: 3px solid #000;
    color: #000
}

.bg-color-brand-pink {
    background: #d7234a;
    border-color: rgba(255, 255, 255, 0.3) !important;
    color: #fff
}

.bg-color-brand-pink a:not([class*='btn']), .bg-color-brand-pink a.btn-text, .bg-color-brand-pink a:not([class*='btn']):hover, .bg-color-brand-pink a.btn-text:hover {
    color: #fff
}

.bg-color-brand-purple {
    background: #851782;
    border-color: rgba(255, 255, 255, 0.3) !important;
    color: #fff
}

.bg-color-brand-purple a:not([class*='btn']), .bg-color-brand-purple a.btn-text, .bg-color-brand-purple a:not([class*='btn']):hover, .bg-color-brand-purple a.btn-text:hover {
    color: #fff
}

.bg-color-brand-blue {
    background: #09c;
    border-color: rgba(255, 255, 255, 0.3) !important
}

.bg-color-White-Smoke {
    background: #efefef;
    border-color: rgba(255, 255, 255, 0.3) !important
}

.bg-color-brand-blue a.btn-text {
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-blue a.btn-text:hover {
    color: #000;
    text-decoration: none
}

.bg-color-brand-blue a:not([class*='btn']) {
    border-bottom: 1px solid #405e71;
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-blue a:not([class*='btn']):hover {
    border-bottom: 3px solid #000;
    color: #000
}

.bg-color-brand-lightblue {
    background: #a3dbe8;
    border-color: rgba(255, 255, 255, 0.3) !important
}

.bg-color-brand-lightblue a.btn-text {
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-lightblue a.btn-text:hover {
    color: #000;
    text-decoration: none
}

.bg-color-brand-lightblue a:not([class*='btn']) {
    border-bottom: 1px solid #405e71;
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-lightblue a:not([class*='btn']):hover {
    border-bottom: 3px solid #000;
    color: #000
}

.bg-color-brand-green {
    background: #4fac1c;
    border-color: rgba(255, 255, 255, 0.3) !important
}

.bg-color-brand-green a.btn-text {
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-green a.btn-text:hover {
    color: #000;
    text-decoration: none
}

.bg-color-brand-green a:not([class*='btn']) {
    border-bottom: 1px solid #405e71;
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-green a:not([class*='btn']):hover {
    color: #000;
    border-bottom: 3px solid #000
}

.bg-color-brand-lightgreen {
    background: #b7cd00;
    border-color: rgba(255, 255, 255, 0.3) !important
}

.color-lightgreen {
    color: #b7cd00
}

.bg-color-brand-lightgreen a.btn-text {
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-lightgreen a.btn-text:hover {
    color: #000;
    text-decoration: none
}

.bg-color-brand-lightgreen a:not([class*='btn']) {
    border-bottom: 1px solid #405e71;
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-lightgreen a:not([class*='btn']):hover {
    border-bottom: 3px solid #000;
    color: #000
}

.bg-color-brand-altorange {
    background: #8b4e21;
    border-color: rgba(255, 255, 255, 0.3) !important;
    color: #fff
}

.bg-color-brand-altorange a:not([class*='btn']), .bg-color-brand-altorange a.btn-text, .bg-color-brand-altorange a:not([class*='btn']):hover, .bg-color-brand-altorange a.btn-text:hover {
    color: #fff
}

.bg-color-brand-altpink {
    background: #a50052;
    border-color: rgba(255, 255, 255, 0.3) !important;
    color: #fff
}

.bg-color-brand-altpink a:not([class*='btn']), .bg-color-brand-altpink a.btn-text, .bg-color-brand-altpink a:not([class*='btn']):hover, .bg-color-brand-altpink a.btn-text:hover {
    color: #fff
}

.bg-color-brand-altpurple {
    background: #4a0259;
    border-color: rgba(255, 255, 255, 0.3) !important;
    color: #fff
}

.bg-color-brand-altpurple a:not([class*='btn']), .bg-color-brand-altpurple a.btn-text, .bg-color-brand-altpurple a:not([class*='btn']):hover, .bg-color-brand-altpurple a.btn-text:hover {
    color: #fff
}

.bg-color-brand-altblue {
    background: #006697;
    border-color: rgba(255, 255, 255, 0.3) !important;
    color: #fff
}

.bg-color-brand-altblue a:not([class*='btn']), .bg-color-brand-altblue a.btn-text, .bg-color-brand-altblue a:not([class*='btn']):hover, .bg-color-brand-altblue a.btn-text:hover {
    color: #fff
}

.bg-color-brand-altlightblue {
    background: #36849f;
    border-color: rgba(255, 255, 255, 0.3) !important
}

.bg-color-brand-altlightblue a.btn-text {
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-altlightblue a.btn-text:hover {
    color: #000;
    text-decoration: none
}

.bg-color-brand-altlightblue a:not([class*='btn']) {
    border-bottom: 1px solid #405e71;
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-altlightblue a:not([class*='btn']):hover {
    border-bottom: 3px solid #000;
    color: #000
}

.bg-color-brand-altgreen {
    background: #464b18;
    border-color: rgba(255, 255, 255, 0.3) !important;
    color: #fff
}

.bg-color-brand-altgreen a:not([class*='btn']), .bg-color-brand-altgreen a.btn-text, .bg-color-brand-altgreen a:not([class*='btn']):hover, .bg-color-brand-altgreen a.btn-text:hover {
    color: #fff
}

.bg-color-brand-altlightgreen {
    background: #8d8035;
    border-color: rgba(255, 255, 255, 0.3) !important
}

.bg-color-brand-altlightgreen a.btn-text {
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-altlightgreen a.btn-text:hover {
    color: #000;
    text-decoration: none
}

.bg-color-brand-altlightgreen a:not([class*='btn']):hover {
    border-bottom: 3px solid #000;
    color: #000;
    text-decoration: none
}

.bg-color-brand-altlightgreen a:not([class*='btn']) {
    border-bottom-width: 1px;
    color: #405e71
}

.bg-color-brand-darkyellow {
    background: #ffb119;
    border-color: rgba(255, 255, 255, 0.3) !important
}

.bg-color-brand-darkyellow a.btn-text {
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-darkyellow a.btn-text:hover {
    color: #000;
    text-decoration: none
}

.bg-color-brand-darkyellow a:not([class*='btn']) {
    border-bottom: 1px solid #405e71;
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-darkyellow a:not([class*='btn']):hover {
    border-bottom: 3px solid #000;
    color: #000
}

.bg-color-brand-coolgray2 {
    background: #d5d6d2;
    border-color: rgba(255, 255, 255, 0.3) !important
}

.bg-color-brand-coolgray2 a.btn-text {
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-coolgray2 a.btn-text:hover {
    color: #000;
    text-decoration: none
}

.bg-color-brand-coolgray2 a:not([class*='btn']) {
    border-bottom: 1px solid #405e71;
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-coolgray2 a:not([class*='btn']):hover {
    border-bottom: 3px solid #000;
    color: #000
}

.bg-color-brand-skyblue {
    background: #d3dee4;
    border-color: rgba(255, 255, 255, 0.3) !important
}

.bg-color-brand-skyblue a.btn-text {
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-skyblue a.btn-text:hover {
    color: #000;
    text-decoration: none
}

.bg-color-brand-skyblue a:not([class*='btn']) {
    border-bottom: 1px solid #405e71;
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-skyblue a:not([class*='btn']):hover {
    border-bottom: 3px solid #000;
    color: #000
}

.bg-color-brand-mintgreen {
    background: #d1dfd6;
    border-color: rgba(255, 255, 255, 0.3) !important
}

.bg-color-brand-mintgreen a.btn-text {
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-mintgreen a.btn-text:hover {
    color: #000;
    text-decoration: none
}

.bg-color-brand-mintgreen a:not([class*='btn']) {
    border-bottom: 1px solid #405e71;
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-mintgreen a:not([class*='btn']):hover {
    border-bottom: 3px solid #000;
    color: #000
}

.bg-color-brand-khaki {
    background: #d7d3c7;
    border-color: rgba(255, 255, 255, 0.3) !important
}

.bg-color-brand-khaki a.btn-text {
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-khaki a.btn-text:hover {
    color: #000;
    text-decoration: none
}

.bg-color-brand-khaki a:not([class*='btn']) {
    border-bottom: 1px solid #405e71;
    color: #405e71;
    text-decoration: none
}

.bg-color-brand-khaki a:not([class*='btn']):hover {
    border-bottom: 3px solid #000;
    color: #000
}

.bg-color-greygreen {
    background: #f1f5f3;
    border-color: #d1dfd6
}

.bg-color-greygreen a.btn-text {
    color: #405e71;
    text-decoration: none
}

.bg-color-greygreen a.btn-text:hover {
    color: #000;
    text-decoration: none
}

.bg-color-greygreen a:not([class*='btn']) {
    border-bottom: 1px solid #405e71;
    color: #405e71;
    text-decoration: none
}

.bg-color-greygreen a:not([class*='btn']):hover {
    border-bottom: 3px solid #000;
    color: #000
}

.background-990000 {
    background-color: #900
}

.background-666666 {
    background-color: #666
}

.background-CBC3B7 {
    background-color: #cbc3b7
}

.background-FF6600 {
    background-color: #f60
}

.background-D7234A {
    background-color: #d7234a
}

.background-851782 {
    background-color: #851782
}

.background-0099CC {
    background-color: #09c
}

.background-A3DBE8 {
    background-color: #a3dbe8
}

.background-4FAC1C {
    background-color: #4fac1c
}

.background-B7CD00 {
    background-color: #b7cd00
}

.background-8B4E21 {
    background-color: #8b4e21
}

.background-A50052 {
    background-color: #a50052
}

.background-4A0259 {
    background-color: #4a0259
}

.background-006697 {
    background-color: #006697
}

.background-36849F {
    background-color: #36849f
}

.background-464B18 {
    background-color: #464b18
}

.background-8D8035 {
    background-color: #8d8035
}

.background-FFB119 {
    background-color: #ffb119
}

.background-D5D6D2 {
    background-color: #d5d6d2
}

.background-D3DEE4 {
    background-color: #d3dee4
}

.background-D1DFD6 {
    background-color: #d1dfd6
}

.background-D7D3C7 {
    background-color: #d7d3c7
}

.background-F1F5F3 {
    background-color: #f1f5f3
}

.background-FFFFFF {
    background-color: #fff
}

.background-000000 {
    background-color: #000
}

.font-990000 {
    color: #900
}

.font-666666 {
    color: #666
}

.font-CBC3B7 {
    color: #cbc3b7
}

.font-FF6600 {
    color: #f60
}

.font-D7234A {
    color: #d7234a
}

.font-851782 {
    color: #851782
}

.font-0099CC {
    color: #09c
}

.font-A3DBE8 {
    color: #a3dbe8
}

.font-4FAC1C {
    color: #4fac1c
}

.font-B7CD00 {
    color: #b7cd00
}

.font-8B4E21 {
    color: #8b4e21
}

.font-A50052 {
    color: #a50052
}

.font-4A0259 {
    color: #4a0259
}

.font-006697 {
    color: #006697
}

.font-36849F {
    color: #36849f
}

.font-464B18 {
    color: #464b18
}

.font-8D8035 {
    color: #8d8035
}

.font-FFB119 {
    color: #ffb119
}

.font-D5D6D2 {
    color: #d5d6d2
}

.font-D3DEE4 {
    color: #d3dee4
}

.font-D1DFD6 {
    color: #d1dfd6
}

.font-D7D3C7 {
    color: #d7d3c7
}

.font-F1F5F3 {
    color: #f1f5f3
}

.font-FFFFFF {
    color: #fff
}

.font-000000 {
    color: #000
}

.footer-font-990000 a {
    color: #900
}

.footer-font-666666 a {
    color: #666
}

.footer-font-CBC3B7 a {
    color: #cbc3b7
}

.footer-font-FF6600 a {
    color: #f60
}

.footer-font-D7234A a {
    color: #d7234a
}

.footer-font-851782 a {
    color: #851782
}

.footer-font-0099CC a {
    color: #09c
}

.footer-font-A3DBE8 a {
    color: #a3dbe8
}

.footer-font-4FAC1C a {
    color: #4fac1c
}

.footer-font-B7CD00 a {
    color: #b7cd00
}

.footer-font-8B4E21 a {
    color: #8b4e21
}

.footer-font-A50052 a {
    color: #a50052
}

.footer-font-4A0259 a {
    color: #4a0259
}

.footer-font-006697 a {
    color: #006697
}

.footer-font-36849F a {
    color: #36849f
}

.footer-font-464B18 a {
    color: #464b18
}

.footer-font-8D8035 a {
    color: #8d8035
}

.footer-font-FFB119 a {
    color: #ffb119
}

.footer-font-D5D6D2 a {
    color: #d5d6d2
}

.footer-font-D3DEE4 a {
    color: #d3dee4
}

.footer-font-D1DFD6 a {
    color: #d1dfd6
}

.footer-font-D7D3C7 a {
    color: #d7d3c7
}

.footer-font-F1F5F3 a {
    color: #f1f5f3
}

.footer-font-FFFFFF a {
    color: #fff
}

.footer-font-000000 a {
    color: #000
}

.font-size-8 {
    font-size: 8px
}

.font-size-9 {
    font-size: 9px
}

.font-size-10 {
    font-size: 10px
}

.font-size-11 {
    font-size: 11px
}

.font-size-12 {
    font-size: 12px
}

.font-size-13 {
    font-size: 13px
}

.font-size-14 {
    font-size: 14px
}

.font-size-15 {
    font-size: 15px
}

.font-size-16 {
    font-size: 16px
}

.font-size-17 {
    font-size: 17px
}

.font-size-18 {
    font-size: 18px
}

.font-size-19 {
    font-size: 19px
}

.font-size-20 {
    font-size: 20px
}

.font-size-21 {
    font-size: 21px
}

.font-size-22 {
    font-size: 22px
}

.font-size-23 {
    font-size: 23px
}

.font-size-24 {
    font-size: 24px
}

.font-size-25 {
    font-size: 25px
}

.font-size-26 {
    font-size: 26px
}

.font-size-27 {
    font-size: 27px
}

.font-size-28 {
    font-size: 28px
}

.font-size-29 {
    font-size: 29px
}

.font-size-30 {
    font-size: 30px
}

.font-size-31 {
    font-size: 31px
}

.font-size-32 {
    font-size: 32px
}

.font-size-33 {
    font-size: 33px
}

.font-size-34 {
    font-size: 34px
}

.font-size-35 {
    font-size: 35px
}

.font-size-36 {
    font-size: 36px
}

.font-size-37 {
    font-size: 37px
}

.font-size-38 {
    font-size: 38px
}

.font-size-39 {
    font-size: 39px
}

.font-size-40 {
    font-size: 40px
}

.font-size-41 {
    font-size: 41px
}

.font-size-42 {
    font-size: 42px
}

.font-size-43 {
    font-size: 43px
}

.font-size-44 {
    font-size: 44px
}

.font-size-45 {
    font-size: 45px
}

.font-size-46 {
    font-size: 46px
}

.font-size-47 {
    font-size: 47px
}

.font-size-48 {
    font-size: 48px
}

.font-size-49 {
    font-size: 49px
}

.font-size-50 {
    font-size: 50px
}

.font-size-51 {
    font-size: 51px
}

.font-size-52 {
    font-size: 52px
}

.font-size-53 {
    font-size: 53px
}

.font-size-54 {
    font-size: 54px
}

.font-size-55 {
    font-size: 55px
}

.font-size-56 {
    font-size: 56px
}

.font-size-57 {
    font-size: 57px
}

.font-size-57 {
    font-size: 57px
}

.font-size-58 {
    font-size: 58px
}

.font-size-59 {
    font-size: 59px
}

.font-size-60 {
    font-size: 60px
}

.font-size-61 {
    font-size: 61px
}

.font-size-62 {
    font-size: 62px
}

.font-size-63 {
    font-size: 63px
}

.font-size-64 {
    font-size: 64px
}

.font-size-65 {
    font-size: 65px
}

.font-size-66 {
    font-size: 66px
}

.font-size-67 {
    font-size: 67px
}

.font-size-68 {
    font-size: 68px
}

.font-size-69 {
    font-size: 69px
}

.font-size-70 {
    font-size: 70px
}

.opacity100 {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100)
}

.opacity95 {
    opacity: .95;
    -webkit-opacity: .95;
    -moz-opacity: .95;
    filter: alpha(opacity=95)
}

.opacity90 {
    opacity: .9;
    -webkit-opacity: .9;
    -moz-opacity: .9;
    filter: alpha(opacity=90)
}

.opacity85 {
    opacity: .85;
    -webkit-opacity: .85;
    -moz-opacity: .85;
    filter: alpha(opacity=85)
}

.opacity80 {
    opacity: .80;
    -webkit-opacity: .80;
    -moz-opacity: .80;
    filter: alpha(opacity=80)
}

.opacity75 {
    opacity: .75;
    -webkit-opacity: .75;
    -moz-opacity: .75;
    filter: alpha(opacity=75)
}

.opacity70 {
    opacity: .70;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=70)
}

.opacity65 {
    opacity: .65;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=65)
}

.opacity60 {
    opacity: .60;
    -webkit-opacity: .6;
    -moz-opacity: .6;
    filter: alpha(opacity=60)
}

.opacity55 {
    opacity: .55;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=55)
}

.opacity50 {
    opacity: .50;
    -webkit-opacity: .50;
    -moz-opacity: .50;
    filter: alpha(opacity=50)
}

.opacity45 {
    opacity: .45;
    -webkit-opacity: .45;
    -moz-opacity: .45;
    filter: alpha(opacity=45)
}

.opacity40 {
    opacity: .40;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=45)
}

.opacity35 {
    opacity: .35;
    -webkit-opacity: .35;
    -moz-opacity: .35;
    filter: alpha(opacity=35)
}

.opacity30 {
    opacity: .30;
    -webkit-opacity: .30;
    -moz-opacity: .30;
    filter: alpha(opacity=30)
}

.opacity25 {
    opacity: .25;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=25)
}

.opacity20 {
    opacity: .20;
    -webkit-opacity: .20;
    -moz-opacity: .20;
    filter: alpha(opacity=20)
}

.opacity15 {
    opacity: .15;
    -webkit-opacity: .15;
    -moz-opacity: .15;
    filter: alpha(opacity=15)
}

.opacity10 {
    opacity: .10;
    -webkit-opacity: .10;
    -moz-opacity: .10;
    filter: alpha(opacity=10)
}

.opacity0 {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0)
}

.section > .section-styles {
    border: 10px solid #d1dfd6;
    padding: 2.5rem;
}

.section > .section-styles.no-border {
    border-color: transparent !important
}

.section > .section-styles.no-padding {
    padding: 1rem
}

.section > .section-styles.bg-pos-left {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain !important
}

.section > .section-styles.bg-pos-right {
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain !important
}

.section > .section-styles > [class*="col-"] {
    float: none;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0
}

.section > .section-styles [class*="col-"] {
    margin-bottom: .2rem
}

.section > .section-styles.no-padding [class*="col-"] {
    margin-bottom: 0
}

.section > .section-styles > .row.gridbase {
    margin: 0 auto;
    max-width: 1200px
}

.section > .section-styles > .column {
    text-align: center
}

.section > .section-styles > .section-title {
    margin-bottom: 2.4rem;
    text-align: center;
    z-index: 1
}

.section > .section-styles > .section-title.brand-blue {
    color: #09c
}

.section > .section-styles > .section-title.white {
    color: #fff
}

.section > .section-styles > .section-lead-copy {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 1.5rem;
    text-align: center
}

.section > .section-styles > .column.gridbase > .buttons {
    text-align: center
}

@media (max-width: 767px) {
    .section > .section-styles.xsOneThumbnailTile > .row.gridbase {
        margin-bottom: 0;
        max-width: 270px
    }

    .section > .section-styles.xsTwoThumbnailTiles > .row.gridbase {
        margin-bottom: 0;
        max-width: 570px
    }

    .section > .section-styles.xsOneThumbnailTileBig > .row.gridbase {
        margin-bottom: 0;
        max-width: 510px
    }

    .section > .section-styles {
        padding: 1.5625rem
    }

    .column.xsRightBorder {
        border-right: 1px solid gray
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section > .section-styles.smOneThumbnailTile > .row.gridbase {
        margin-bottom: 0;
        max-width: 270px
    }

    .section > .section-styles.smTwoThumbnailTiles > .row.gridbase {
        margin-bottom: 0;
        max-width: 570px
    }

    .section > .section-styles.smOneThumbnailTileBig > .row.gridbase {
        margin-bottom: 0;
        max-width: 510px
    }

    .section > .section-styles.smTwoThumbnailTilesBig > .row.gridbase {
        margin-bottom: 0;
        max-width: 1020px
    }

    .column.smallRightBorder {
        border-right: 1px solid gray
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .section > .section-styles.mdOneThumbnailTile > .row.gridbase {
        margin-bottom: 0;
        max-width: 270px
    }

    .section > .section-styles.mdTwoThumbnailTiles > .row.gridbase {
        margin-bottom: 0;
        max-width: 570px
    }

    .section > .section-styles.mdOneThumbnailTileBig > .row.gridbase {
        margin-bottom: 0;
        max-width: 510px
    }

    .section > .section-styles.mdTwoThumbnailTilesBig > .row.gridbase {
        margin-bottom: 0;
        max-width: 1020px
    }

    .column.medRightBorder {
        border-right: 1px solid gray
    }
}

@media (min-width: 1200px) {
    .section > .section-styles.lgOneThumbnailTile > .row.gridbase {
        margin-bottom: 0;
        max-width: 270px
    }

    .section > .section-styles.lgTwoThumbnailTiles > .row.gridbase {
        margin-bottom: 0;
        max-width: 570px
    }

    .section > .section-styles.lgOneThumbnailTileBig > .row.gridbase {
        margin-bottom: 0;
        max-width: 510px
    }

    .section > .section-styles.lgTwoThumbnailTilesBig > .row.gridbase {
        margin-bottom: 0;
        max-width: 1020px
    }

    .column.largeRightBorder {
        border-right: 1px solid gray
    }
}

@media (min-width: 1400px) {
    .section > .section-styles.bg-pos-left {
        background-position: calc(50% - 600px) top
    }

    .section > .section-styles.bg-pos-right {
        background-position: calc(50% - -600px) top
    }
}

.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #09c;
    border: 3px solid #09c;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding: 6px 27px;
    margin: 0 0 1.5rem 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: 120ms background ease-in-out, 120ms color ease-in-out;
    -moz-transition: 120ms background ease-in-out, 120ms color ease-in-out;
    -o-transition: 120ms background ease-in-out, 120ms color ease-in-out;
    transition: 120ms background ease-in-out, 120ms color ease-in-out
}

.buttons:last-child .btn {
    margin-bottom: 0
}

.btn:hover, .btn:focus {
    background: #fff;
    color: #000;
    text-decoration: none
}

:disabled .btn, .btn:disabled {
    background: silver;
    border-color: silver;
    cursor: not-allowed
}

:disabled .btn:hover, .btn:disabled:hover {
    background: silver;
    border-color: silver;
    color: #fff;
    cursor: not-allowed
}

.btn.btn-small {
    font-size: 1.6rem;
    padding: 4px 17px
}

.btn.btn-large {
    padding: 9px 37px
}

.btn.btn-alternate {
    background: #fff;
    color: #405e71
}

.btn.btn-alternate:hover, .btn.btn-alternate:focus {
    color: #000
}

.btn > i, .btn-text > i {
    display: inline;
    padding-left: .5rem;
    position: relative;
    top: -1px;
    white-space: nowrap
}

.btn.btn-wide {
    display: block
}

.btn-text {
    color: #405e71;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: 120ms color ease-in-out;
    -moz-transition: 120ms color ease-in-out;
    -o-transition: 120ms color ease-in-out;
    transition: 120ms color ease-in-out
}

.btn-text:hover, .btn-text:focus {
    color: #000
}

.btn.no-padding {
    padding: 10px 0;
    font-size: 1.75rem
}

i.fa.fa-chevron-right {
    font-size: 15px
}

.herobtn1:hover {
    color: #000 !important;
    background-color: #fff !important
}

.herobtn2 {
    background-color: #fff !important
}

.herobtn2:hover {
    color: #000 !important;
    background-color: #fff !important
}

.btn.btn-wide.font-size-8 {
    font-size: 8px
}

.btn.btn-wide.font-size-9 {
    font-size: 9px
}

.btn.btn-wide.font-size-10 {
    font-size: 10px
}

.btn.btn-wide.font-size-11 {
    font-size: 11px
}

.btn.btn-wide.font-size-12 {
    font-size: 12px
}

.btn.btn-wide.font-size-13 {
    font-size: 13px
}

.btn.btn-wide.font-size-14 {
    font-size: 14px
}

.btn.btn-wide.font-size-15 {
    font-size: 15px
}

.btn.btn-wide.font-size-16 {
    font-size: 16px
}

.btn.btn-wide.font-size-17 {
    font-size: 17px
}

.btn.btn-wide.font-size-18 {
    font-size: 18px
}

.btn.btn-wide.font-size-19 {
    font-size: 19px
}

.btn.btn-wide.font-size-20 {
    font-size: 20px
}

.btn.btn-wide.font-size-21 {
    font-size: 21px
}

.btn.btn-wide.font-size-22 {
    font-size: 22px
}

.btn.btn-wide.font-size-23 {
    font-size: 23px
}

.btn.btn-wide.font-size-24 {
    font-size: 24px
}

.btn.btn-wide.font-size-25 {
    font-size: 25px
}

.btn.btn-wide.font-size-26 {
    font-size: 26px
}

.btn.btn-wide.font-size-27 {
    font-size: 27px
}

.btn.btn-wide.font-size-28 {
    font-size: 28px
}

.btn.btn-wide.font-size-29 {
    font-size: 29px
}

.btn.btn-wide.font-size-30 {
    font-size: 30px
}

.btn.btn-wide.font-size-31 {
    font-size: 31px
}

.btn.btn-wide.font-size-32 {
    font-size: 32px
}

.btn.btn-wide.font-size-33 {
    font-size: 33px
}

.btn.btn-wide.font-size-34 {
    font-size: 34px
}

.btn.btn-wide.font-size-35 {
    font-size: 35px
}

.btn.btn-wide.font-size-36 {
    font-size: 36px
}

.btn.btn-wide.font-size-37 {
    font-size: 37px
}

.btn.btn-wide.font-size-38 {
    font-size: 38px
}

.btn.btn-wide.font-size-39 {
    font-size: 39px
}

.btn.btn-wide.font-size-40 {
    font-size: 40px
}

.btn.btn-wide.font-size-41 {
    font-size: 41px
}

.btn.btn-wide.font-size-42 {
    font-size: 42px
}

.btn.btn-wide.font-size-43 {
    font-size: 43px
}

.btn.btn-wide.font-size-44 {
    font-size: 44px
}

.btn.btn-wide.font-size-45 {
    font-size: 45px
}

.btn.btn-wide.font-size-46 {
    font-size: 46px
}

.btn.btn-wide.font-size-47 {
    font-size: 47px
}

.btn.btn-wide.font-size-48 {
    font-size: 48px
}

.btn.btn-wide.font-size-49 {
    font-size: 49px
}

.btn.btn-wide.font-size-50 {
    font-size: 50px
}

.btn.btn-wide.font-size-51 {
    font-size: 51px
}

.btn.btn-wide.font-size-52 {
    font-size: 52px
}

.btn.btn-wide.font-size-53 {
    font-size: 53px
}

.btn.btn-wide.font-size-54 {
    font-size: 54px
}

.btn.btn-wide.font-size-55 {
    font-size: 55px
}

.btn.btn-wide.font-size-56 {
    font-size: 56px
}

.btn.btn-wide.font-size-57 {
    font-size: 57px
}

.btn.btn-wide.font-size-57 {
    font-size: 57px
}

.btn.btn-wide.font-size-58 {
    font-size: 58px
}

.btn.btn-wide.font-size-59 {
    font-size: 59px
}

.btn.btn-wide.font-size-60 {
    font-size: 60px
}

.btn.btn-wide.font-size-61 {
    font-size: 61px
}

.btn.btn-wide.font-size-62 {
    font-size: 62px
}

.btn.btn-wide.font-size-63 {
    font-size: 63px
}

.btn.btn-wide.font-size-64 {
    font-size: 64px
}

.btn.btn-wide.font-size-65 {
    font-size: 65px
}

.btn.btn-wide.font-size-66 {
    font-size: 66px
}

.btn.btn-wide.font-size-67 {
    font-size: 67px
}

.btn.btn-wide.font-size-68 {
    font-size: 68px
}

.btn.btn-wide.font-size-69 {
    font-size: 69px
}

.btn.btn-wide.font-size-70 {
    font-size: 70px
}

.float-right {
    float: right
}

.heading-1, .heading-2, .heading-3, .heading-4 {
    font-weight: 600
}

.heading-5, .heading-6 {
    font-weight: 700
}

.heading-1 {
    font-size: 2.6rem;
    line-height: 3.8rem;
    margin-bottom: 2.5rem
}

.heading-2 {
    font-size: 2rem;
    line-height: 3.2rem;
    margin-bottom: 2rem
}

.heading-3 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin-bottom: 1.5rem
}

.heading-4 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 1rem
}

.heading-5 {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 1rem
}

.heading-6 {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 1rem
}

.phoenix-button {
    float: none;
    background-color: rgb(222, 53, 24);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(222, 53, 24);
}

.phoenix-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

